<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta lang="fr"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <title>{% block title %}SnowTrix !{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <noscript><link rel="stylesheet" href="{{ asset('css/noscript.css') }}" /></noscript>
        <link rel="stylesheet" href="{{ asset('css/snowtrix.css') }}" />

    </head>
    <body class="is-preload">

        <div id="page-wrapper">

            {% for message in app.flashes('actionInfoError') %}
                <div class="flash-notice flash-notice-error">
                    {{ message | raw }}
                </div>
            {% endfor %}

            {% for message in app.flashes('actionInfoSuccess') %}
                <div class="flash-notice flash-notice-success">
                    {{ message | raw }}
                </div>
            {% endfor %}

            <header id="header">
                <h1><a href="{{ path('homepage') }}"><i class="fa fa-snowflake-o"></i>SnowTrix</a></h1>
                <nav id="enable-nav">
                    <a href="#menu">Menu</a>
                </nav>
            </header>

            {% include 'snowtrix/menu.html.twig' %}

            {% block body %}{% endblock %}

            {% include 'snowtrix/footer.html.twig' %}
        </div>

        <script src="{{ asset('js/vendor/jquery.min.js') }}"></script>
        <script src="{{ asset('js/vendor/jquery.scrollex.min.js') }}"></script>
        <script src="{{ asset('js/vendor/browser.min.js') }}"></script>
        <script src="{{ asset('js/vendor/breakpoints.min.js') }}"></script>
        <script src="{{ asset('js/util.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        <script src="{{ asset('js/snowtrix.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
