{% extends 'base.html.twig' %}

{% block body %}

    <section class="wrapper spotlight style2 snowtrix-solo-wrapper edit-profile-wrapper">
        <div class="inner snowtrix-fx-style">
            <h1>Modification de votre profil</h1>

            {% if editProfileForm.vars.errors|length or changePasswordForm.vars.errors|length %}
                {% if editProfileForm.vars.errors|length %}
                    <div class="error-message">
                        Erreur(s) : </br>
                        Impossible d'effectuer les modifications demandées, merci de vérifier les informations saisies.</br>
                    </div>
                {% endif %}
            {% endif %}
            <div class="snowtrix-fx-panel">

                <h2>Informations</h2>
                <div class="user-infos">
                    <p>Nom d'utilisateur : <b>{{ app.user.username }}</b><br/>
                        Adresse email : <b>{{ app.user.email }}</b>
                    <p>
                </div>

                <h2>Photo de profil </h2>

                {{ form_start(editProfileForm) }}
                {% if editProfileForm.vars.errors|length %}
                    <div class="error-message">
                        Erreur(s) : </br>
                        {{ form_errors(editProfileForm) }}
                    </div>
                {% endif %}

                {% if app.user.avatarWebUrl is not null %}
                    <img src="{{ asset(app.user.avatarWebUrl) }}" alt="Avatar de {{ app.user.username }}"/>
                {% else %}
                    <img src="{{ user_default_avatar_src }}" alt="Avatar de {{ app.user.username }}"/>
                {% endif %}

                <div class="edit-profile-photo-block">
                    <p>Sélectionnez une nouvelle photo de profil :</p>
                    {{ form_widget(editProfileForm.avatar) }}
                </div>

                <button type="submit" id="edit-profile-submit-button">Modifier le profil</button>
                {{ form_end(editProfileForm) }}
            </div>


            <div class="snowtrix-fx-panel">
                <h2>Sécurité</h2>
                <h3>Modifier mon mot de passe</h3>

                {{ form_start(changePasswordForm) }}
                {% if changePasswordForm.vars.errors|length %}
                    <div class="error-message">
                        Erreur(s) : </br>
                        {{ form_errors(changePasswordForm) }}
                    </div>
                {% endif %}


                {{ form_row(changePasswordForm.currentPlainPassword) }}
                {{ form_row(changePasswordForm.plainPassword.first) }}
                {{ form_row(changePasswordForm.plainPassword.second) }}

                <button type="submit">Modifier mon mot de passe</button>
                {{ form_end(changePasswordForm) }}
            </div>

        </div>
    </section>

{% endblock %}
