{% extends 'base.html.twig' %}

{% block body %}

    <section class="wrapper spotlight style2 snowtrix-solo-wrapper">
        <div class="inner snowtrix-fx-style">
            <div class="snowtrix-fx-panel">
                <h1>Connexion</h1>
                {% if error %}
                    <div class="error-message">Erreur(s) :</br>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {{ form_start(form) }}
                {{ form_row(form._usernameOrEmail) }}
                {{ form_row(form._password) }}
                <button type="submit">Connexion</button>
                {{ form_end(form) }}

                <a href="{{ path('fx_user_forgotten_password') }}">Mot de passe oublié ?</a>
            </div>

        </div>
    </section>

{% endblock %}
